<!-- Image element - set the background image for the header in the line below -->
<div class="py-5 bg-image-full" style="background-image: url('./images/bottleHolders.jpg');">
    <!-- Blank space -->
    <div style="height: 200px;"></div>
</div>
<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Marine Debris</h1>
        <p class="lead">
            Marine debris is essentially any form of trash or liter that ends up in a marine enviorment.
        </p>
        <p>
            Marine debris is a global polution problem that has sevre impact on human health, marine life, aquatic
            habitats, and costs coastal cities and governments millions of extra dolloars and resources. It is estimated
            that 80% of all marine debris originates from land-based sources.
        </p>
    </div>
</section>

<!-- Image element - set the background image for the header in the line below -->
<div class="py-5 bg-image-full" style="background-image: url('./images/lidInSand.jpg');">
    <!-- Blank space -->
    <div style="height: 200px;"></div>
</div>

<!-- Content section -->
<section class="py-5">
    <div class="container">
        <h1>Plastic Pollution</h1>
        <p class="lead">
            Californians throw away an estimated 123,000 tons of plastic bags each year.
        </p>
        <p>
            Recent studies have shown there is more than 100 million tons of trash in the North Pacific Gyre alone.
            Pollutants from the plastic fills the ocean waters and impacts marine life. Birds, fish and mammals
            frequently mistake marine debris for food. Ingestion is not the only danger that marine debris posses to
            marine life. Entanglement and disruption to habitat also pose a threat to marine life due to marine debris.
            Common items like fishing line and bottle holders immobolize and cause injury to creatures. These issues are
            not just a problem on our beaches and water surface, studies have shown that marine debris has been found as
            deep as 2000 feet on the ocean floor.
        </p>
    </div>
</section>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h4>Find A Clean Up Near You</h4>
                <p>
                    Join others in keeping California's beaches clean!
                </p>
                <button class="button" style="vertical-align:middle"><span>Browse Clean Ups</span></button>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">
            <p class="lead" style="text-align: center;">Foot Notes</p>
            <ul>
                <li>“Keep Plastic Out Of The Pacific.” Environment California, Environment California , 2020,
                    <p><a href="https://environmentcalifornia.org/programs/cae/keep-plastic-out-pacific">Visit
                            https://environmentcalifornia.org/programs/cae/keep-plastic-out-pacific</a></p>
                </li>
                <hr>
                <li>“The Problem With Marine Debris.” California Coastal Commision, California Coastal Commission, Nov.
                    2018, <p><a href="https://www.coastal.ca.gov/">Visit https://www.coastal.ca.gov/</a></p>
                </li>

            </ul>
            <div style="height: 4px"></div>
        </div>
    </div>
</div>