{{!-- <head>
    <link href="/public/stylesheets/style.css" rel="stylesheet" />
</head> --}}


<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Beach.mp4" type="video/mp4" />
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <h1 class="display-3">Find Your Tribe.</h1>
                <p class="lead mb-0">Organize Events. Clean Our Beaches.</p>
            </div>
        </div>
    </div>
</header>

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h4>Find A Clean Up Near You</h4>
                <p>
                    Join others in keeping California's beaches clean!
                </p>
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Browse Counties
                    </button>
                    <div>
                        <ul class="dropdown-menu col-6" aria-labelledby="dropdownMenuLink">
                            {{#each countyNames}}
                            <li><a class="dropdown-item" href="counties/{{this.county}}">{{county}}</a></li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Page Content -->
<div class="container main-page-info">

    <!-- Page Heading -->
    <h1 class="my-4">Page Heading
        <small>Secondary Text</small>
    </h1>

    <!-- Project One -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="images/capatbeach.jpg"
                    alt="Person holding bottle cap at beach clean up">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Organize</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita
                laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis
                atque eveniet unde.</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="images/trashonbeach.jpg" alt="Trash piled up on beach">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Collaborate</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque
                repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam
                tempore.</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="images/bottleonbeach.jpg"
                    alt="Empty water bottle on beach">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Share</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut
                unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti
                alias possimus!</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>
    </div>
    <!-- /.row -->

    <hr>