<!-- Header -->
<header id="meet-team" class="text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-white"
            style="margin-top: 140px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
            Meet the Team
        </h1>
    </div>
</header>


<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://avatars1.githubusercontent.com/u/66695379?s=400&v=4" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <a href="https://github.com/sophiaorlando">
                        <h5 class="card-title mb-0">Sophia Orlando</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://avatars0.githubusercontent.com/u/67036094?s=400&v=4" class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <a href="https://github.com/Carloz0321">
                        <h5 class="card-title mb-0">Carlos Aguilar</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://avatars0.githubusercontent.com/u/12901966?s=460&u=8f665fe8d254a53f7d10c96c31c99b60aa2a113f&v=4"
                    class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <a href="https://github.com/PierreParienteDimitrov">
                        <h5 class="card-title mb-0">Pierre Pariente</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://avatars2.githubusercontent.com/u/64040128?s=400&u=332d811fc39028c76a977822a9cb9bc8d96387e1&v=4"
                    class="card-img-top" alt="..." />
                <div class="card-body text-center">
                    <a href="https://github.com/codywalter">
                        <h5 class="card-title mb-0">Cody Walter</h5>
                        <div class="card-text text-black-50">Web Developer</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>