body {
	background: #ff9721;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
i {
	color: #263238;
}

/* title section */
.title {
	padding: 4rem 0rem 2rem 0rem;
}

.row.display-flex {
	display: flex;
	flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
	flex-grow: 1;
}

.beach {
	padding: 1.5rem 0rem;
	border-bottom: 1px solid #37474f;
}

.beach:hover {
	background: #fea43e;
	border-bottom: #fea43e;
	cursor: pointer;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
