/* colours

primary:#FF9721 
light: #EDF0F2
blue: #78909C
dark-blue: #37474F
dark: #263238

*/

* {
	box-sizing: border-box;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* p {
	font-size: 78px;
} */

/* BUTTONS */
.button {
	display: inline-block;
	border-radius: 12px;
	background-color: lightslategrey;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
	font-family: 'Mukta', sans-serif;
}

h1 {
	font-size: 58px;
	font-weight: 800;
	margin: 0rem;
	padding: 0rem;
}

h2 {
	font-size: 46px;
	font-weight: 600;
	margin: 0rem;
	padding: 0rem;
}

h3 {
	font-size: 38px;
	font-weight: 600;
	margin: 0rem;
	padding: 0rem;
}

h4 {
	font-size: 26px;
	font-weight: 400;
	margin: 0rem;
	padding: 0rem;
}

h5 {
	font-size: 20px;
	font-weight: 200;
	margin: 0rem;
	padding: 0rem;
}

h6 {
	font-size: 12px;
	font-weight: 500;
	margin: 0rem;
	padding: 0rem;
	text-transform: uppercase;
}

p,
a {
	font-size: 16px;
	font-weight: 200;
	margin: 0rem;
	padding: 0rem;
}

li {
	font-size: 16px;
	font-weight: 400;
	margin: 0rem;
	padding: 0rem;
}

ul {
	list-style-type: none;
	margin: 0rem;
	padding: 0rem;
}

#sticky-footer {
  flex-shrink: none;
}
