/* colours

primary:#FF9721 
light: #EDF0F2
blue: #78909C
dark-blue: #37474F
dark: #263238

*/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Mukta', sans-serif;
}

h1 {
	font-size: 76px;
	font-weight: 800;
}

h2 {
	font-size: 64px;
	font-weight: 600;
}

h3 {
	font-size: 48px;
	font-weight: 600;
}

h4 {
	font-size: 26px;
	font-weight: 400;
}

h5 {
	font-size: 20px;
	font-weight: 200;
}

h6 {
	font-size: 14px;
	font-weight: 800;
}

p {
	font-size: 16px;
	font-weight: 200;
}

li {
	font-size: 16px;
	font-weight: 400;
}

ul {
	list-style-type: none;
}
